*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
/* Links*/
a {
    color: #000;
    text-decoration: none;
    transition: .5s;
}
/* Login section*/

.login-section{
    background-color: #bebebe;
    margin: 10px auto;
    padding: 20px;
    border-radius: 14px;
    width: 500px;
    padding: 70px 50px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}
.login-button:hover{
    background-color: #d6d5d5;
    cursor: pointer;
}
.error-field{
    background-color: #ECD5D5;
    color: #732B2B;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    margin: 20px auto;
}
.success-field{
    background-color: #D4EDDA;
    color: #40754C;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    margin: 20px 10px;
}
.login-background {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(#778899, #ffffff);
    justify-content: center;
    align-items: center;
}
label {
    display: block;
    margin-top: 10px;
}
input{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    margin: 14px 0;
}
.title {
    text-align: center;
    margin-bottom: 30px;
}
/*Sign up section*/
.sign-up-section{
    display: flex;
    flex-direction: column;
    background-color: #bebebe;
    margin: 0 auto;
    padding: 20px;
    border-radius: 14px;
    width: 500px;
    padding: 70px 50px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}
.signup-button:hover, .edit-button:hover{
    background-color: #d6d5d5;
    cursor: pointer;
    transition: .25s;
}
/* homepage section*/
.homepage-background {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(#778899, #ffffff);
}
/* subpage background*/
.subpage-background {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(#778899, #ffffff);
}
/* top section*/
.top-section{
    padding: 10px;
    border-bottom: 1 #000 solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 1px rgba(5, 5, 5, 0.39) solid;
}
.top-section>h1{
    font-size: 30px;
}

h1 {
    color: #030303;
}
.top-section>a {
    float: right;
    background-color: #4169E1;
    padding: 10px 15px;
    border-radius: 14px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    border: none;
    color: #fff;
}
a:hover{
    background-color: #2654df;
    cursor: pointer;
}

@media screen and (min-width: 800px){

    .top-section>h1{
        font-size: 30px;
    }
}
/* Employee Dashboard*/
.wrapper{
    display: flex;
    width: 300px;
    padding: 50px 0;
    margin: 15px;
    background: #fff;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
}
.circular-progress{
    position: relative;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background: conic-gradient(#114ccc 0deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular-progress::before{
    content: "";
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
}
.progress-value{
    position: relative;
    font-size: 30px;
    font-weight: 500;
    color:#114ccc;
}
.summary-row{
    display: flex;
    justify-content: center;
}
.expenses-button{
    background-color: #fff;
    height: 100px;
    width: 300px;
    margin: 20px;
    text-align: center;
    border-radius: 8px;
    padding-top: 30px;
    margin: 80px 20px;
}
.budget-display{
    background-color: #fff;
    height: 100px;
    width: 300px;
    margin: 20px;
    text-align: center;
    padding-top: 20px;
    border-radius: 8px;
    margin: 80px 20px;
}
.budget-display h4 {
    margin: 8px;
}
.pages-overview{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.recent-activity-section{
    background-color: #e9e6e6;
    padding: 20px;
    margin-left: 20px;
    border-radius: 5px;
    width: 600px;
    max-width: 800px;
    max-height: 550px;
}
/* Expenses page*/
.homepage-background {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(#778899, #ffffff);
}
/*Admin Dashboard*/

.user-lists>h4 {
    display: flex;
    font-size: 35px;
    padding: 20px;
    justify-content: left;
}
.create-btn {
    float: right;
    font-size: 18px;
    background-color: #4169E1;
    padding: 10px 15px;
    border-radius: 14px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    border: none;
    color: #fff;
    margin: 0 50px;
}
.btn-approve{
    background-color: #2dac49;
    padding: 7px;
    border:1px solid #40754C;
    margin: 2px;
    border-radius: 3px;
}
.btn-approve:hover{
    background-color:#1f7732;
}
.btn-reject{
    background-color: #c94c4c;
    padding: 7px;
    border:1px solid #732B2B;
    border-radius: 3px;

}
.btn-reject:hover{
    background-color: #bd2424;
}
.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    overflow: scroll;
}
.user-table-section {
    width: 50%;
}
.expense-ovw-header {
    padding: 10px 0 0 50px;
}
.expenses-table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 15px;
    overflow: scroll;
    margin: 40px;
}
.expenses-table-adm{
    width: 40%;
    border-collapse: collapse;
    margin-top: 15px;
    overflow: scroll;
    margin: 40px;
}
.recent-activity-table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 15px;
    margin: 40px;
}
.expenses-table-sum{
    border-collapse: collapse;
    overflow: scroll;
    margin: 40px;
}
.nav-btns {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}
.tables {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.expenses-table-sum td, .recent-activity-table td{
    font-weight: lighter;
}
.department-table{
    width: 80%;
    border-collapse: collapse;
    overflow: scroll;
    margin: 40px;
    float: right;
}
.department-table td {
    font-weight:lighter;
}
.user-table th, .user-table td, .expenses-table th, 
.expenses-table td, .expenses-table-adm th,.expenses-table-adm td, .expenses-table-sum th, .expenses-table-sum td, 
.department-table th,
.department-table td{
    border: 1px solid #cecece;
    padding: 10px;
    text-align: left;
}
.recent-activity-table th, .recent-activity-table td {
    border: 1px solid #e9e6e6;
    padding: 10px;
    text-align: left;
}
.user-table th, .expenses-table th, .department-table th, 
.expenses-table-sum th, .recent-activity-table th,
.expenses-table-adm th {
    background-color: #c4c1c1;
}
.user-table tbody tr:hover {
    background-color: rgba(25, 108, 202, 0.281);
}
.col-de2{
    display: flex;
    flex-direction: column;
    float: right;
}
.btn-edit-user,.btn-delete-user{
    display: inline-block;
    padding: 8px 10px;
    margin: 2px;
    border-radius: 8px;
    color: #fff;
}
.btn-edit, .btn-delete {
    display: inline-block;
    padding: 8px 10px;
    margin: 2px;
    border-radius: 8px;
    color: #fff;
}
.btn-delete{
    background-color: #b63333;
}
.btn-delete:hover{
    background-color: #992b2b;
}
.btn-edit {
    background-color: #2dac49;
}
.btn-edit:hover{
    background-color: #1f7732;
}
.btn-delete-user {
    background-color: #b63333;
}
.btn-delete-user:hover {
    background-color: #992b2b;
}
.btn-edit-user {
    background-color: #2dac49;
}
.btn-edit-user:hover{
    background-color: #1f7732;
}
.back-btn {
    font-size: 18px;
    background-color: #b63333;
    padding: 10px 15px;
    border-radius: 14px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    border: none;
    color: #fff;
    margin: 10px 70px;
    align-self: flex-end;
}
.back-btn:hover {
    background-color: #992b2b;
}
